.tabla-con-divisiones {
    width: 100%;
    border-collapse: collapse;
}

.tabla-con-divisiones th,
.tabla-con-divisiones td {
    border: 1px solid #dddddd;
    /* Añadir bordes */
    padding: 8px;
}

.tabla-con-divisiones th {
    background-color: #000000;
    text-align: left;
}

.contenedor {
    display: flex;
    justify-content: center;
    /* Alineación horizontal al centro */
    align-items: center;
    /* Alineación vertical al centro */
}