.navbar-bottom-menu{
    padding: 20px 0px;
    display: flex;
    justify-content: center;

}

.navbar-bottom-menu .container{
    display: flex;
    justify-content: center;
    column-gap: 30px;

}

.topbar ul{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.topbar ul li{
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    padding: 5px 0px;
}

.topbar{
    padding: 20px 0px;
}

@media(max-width: 4000px){
    .drawer-content{
        display: none;
    }

    .drawer{
        display: none !important;
    }
}

@media(max-width: 650px){
    .drawer-content{
        display: block;
    }

    .drawer{
        display: grid !important;
    }

    .navlinks-container{
        display: none !important;
    }

}

@media(max-width: 550px){
    .topbar ul {
        flex-direction: column;
    }

    .navbar{
        flex-direction: column;
    }

}

.Sbarra{
    margin-left: 10px;
    margin-right: 10px;
}

.Login {
    font-size: 18px;
    color: lightgrey;
    transition: color 0.3s ease; /* Transición suave de color durante 0.3 segundos */
}

.Login:hover {
    color: #2563eb; /* Cambia el color al pasar el mouse por encima */
}

.Login1 {
    font-size: 18px;
    color: lightgrey;
    transition: color 0.3s ease; /* Transición suave de color durante 0.3 segundos */
    margin-left: 10px;
}

.Login1:hover {
    color: #2563eb; /* Cambia el color al pasar el mouse por encima */
}


.NavOp {
    font-size: 20px;
    position: relative;
    text-decoration: none; /* Desactiva la subrayado predeterminado */
    color: white; /* Cambia el color del texto según lo necesites */
}

.NavOp::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #2563eb; /* Cambia el color según lo necesites */
    transition: width 0.3s ease, left 0.3s ease;
}

.NavOp:hover::after {
    width: 100%;
    right: 0;
}