@tailwind base;
@tailwind components;
@tailwind utilities;
/* Color del fondo del contenedor basado en la imagen proporcionada */
.bg-custom-color {
    background-color: #1e1e1e; /* Ajusta el color basado en el color exacto del fondo de la imagen */
    padding: 24px; /* Padding del contenedor */
    border-radius: 8px; /* Bordes redondeados */
    text-align: center; /* Centrar texto dentro del contenedor */
}

/* Estilos existentes */
body {
    
        background-color: #121212; /* Fondo oscuro */
    }
    
    .tabla-con-divisiones {
        width: 100%;
        border-spacing: 0px; /* Eliminar espaciado entre celdas para un contorno unificado */
        background-color: #1e1e1e; /* Fondo de la tabla */
        text-align: center; /* Centrar todo el contenido de la tabla */
        margin-top: 16px; /* Añadir margen superior para la tabla */
    }
    
    .tabla-con-divisiones th, .tabla-con-divisiones td {
        border: none; /* Eliminar bordes */
        padding: 16px; /* Padding para mejor apariencia */
        background-color: transparent; /* Hacer transparentes para que el contenedor de la fila sea visible */
    }
    
    .tabla-con-divisiones tr {
        background-color: #2d2d2d; /* Fondo de la fila */
        border-radius: 8px; /* Bordes redondeados */
        margin-bottom: 30px; /* Aumenta el espacio entre filas */
        box-shadow: 0 10px 20px rgba(0,0,0,0.5); /* Sombra alrededor de cada fila */
    }
    
    .tabla-con-divisiones th {
        background-color: #000000;
        color: #ffffff; /* Color del texto */
        text-align: center; /* Centrar el texto del encabezado */
    }
    
    .tabla-con-divisiones td {
        color: #ffffff; /* Color del texto de las celdas */
        vertical-align: middle; /* Alineación vertical centrada */
    }
    
    .actions-cell {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .actions-cell button {
        margin-right: 5px;
    }
    
    .btn-red {
        background-color: red;
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
    }
    
    .btn-red:hover {
        background-color: darkred;
    }
    
    /* Ajustes para el input de filtro */
    input[type="text"] {
        background-color: #333333; /* Fondo del input */
        color: #ffffff; /* Color del texto del input */
        border: 1px solid #555555; /* Borde del input */
        border-radius: 8px; /* Bordes redondeados */
        text-align: center; /* Centrar texto en el input */
    }
    
    input[type="text"]::placeholder {
        color: #aaaaaa; /* Color del placeholder */
    }
    
    /* Contenedor gris */
    .bg-gray-800 {
        background-color: #2d2d2d; /* Fondo gris oscuro */
        padding: 24px; /* Padding del contenedor */
        border-radius: 8px; /* Bordes redondeados */
        text-align: center; /* Centrar texto dentro del contenedor */
    }