.mi-boton {
    background-color: #292772; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interior */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor a una mano */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Animación suave para el cambio de color */
}

.mi-boton:hover {
    background-color: #292772; /* Color de fondo al pasar el cursor */
}
